/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin: 20px auto;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
  background-color: red;
  height: 800px;
  justify-content: center;
}
.main-content .input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}
.main-content .input-container .input-code {
  height: 200px;
  width: 200px;
  background-color: lightgray;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;
}
.main-content .input-container .prev {
  box-sizing: border-box;
  background-color: yellow;
  width: 80px;
  height: 40px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.main-content .input-container .next {
  box-sizing: border-box;
  background-color: yellow;
  width: 80px;
  height: 40px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.main-content .algorithm-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}
.main-content .algorithm-container .algorithm-code {
  height: 200px;
  width: 200px;
  background-color: lightgray;
  border: 2px solid grey;
  border-radius: 10px;
  margin-right: 2%;
  padding: 5px;
}
.main-content .algorithm-container .prev {
  box-sizing: border-box;
  background-color: yellow;
  width: 80px;
  height: 40px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.main-content .algorithm-container .next {
  box-sizing: border-box;
  background-color: yellow;
  width: 80px;
  height: 40px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.main-content .form {
  background-color: grey;
  width: 70%;
  margin: 30px auto;
}
